.task {
    position: relative;
    background-color: white;
    border: lightgray solid 1px;
    border-radius: 20px;
    width: 87%;
    margin: auto;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.task hr {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid silver;
}

.task .description {
    margin: 0px 30px 10px 30px;
    border-radius: 10px;
}

.task-header, .status {
    margin-left: 30px;
}

.completion-button {
    margin-top: 20px;
}

.completion-button button {
    position: relative;
    width: 100%;
    font-weight: 600;
    padding: 10px;
    background-color: slateblue;
    color: white;
    border: 0px;
    outline: none;
}

.completion-button button:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 2000;
}

.deletion-button button {
    position: relative;
    width: 100%;
    font-weight: 600;
    padding: 10px;
    background-color: slateblue;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 0px;
    border-top: 1px dashed white;
    outline: none;
}

.deletion-button button:hover {
    border-top: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 2000;
}