@import "../colors","../mixins";

.add {
    margin-bottom: 20px;
    padding: 20px;
}

.addButton {
    width: 99%;
    margin: 5px;
    @include theme-aware('background-color', 'color-buttonColor');
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    outline: none;

    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
}

.nameInput, .descInput {
    border: 0;
    box-shadow: inset 0 0 1px 1px lightgray;
    border-radius: 5px;
    background: white;
    width: 99%;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
}

.descInput {
    line-height: 30px;
}