.task {
  text-align: center;
  background-color: steelblue;
  border-radius: 10px;
  width: 30%;
  margin: auto;
  padding-top: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.task .description {
  background-color: aliceblue;
  padding: 5px 0px 5px 0px;
  margin: 0px 10px 10px 10px;
  border-radius: 10px;
}

.completion-button {
  margin-top: 40px;
}

.completion-button button {
  width: 100%;
  font-weight: 600;
  padding: 10px;
  background-color: lightgreen;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 0px;
}

.completion-button button:hover {
  background-color: limegreen;
}