@import "../colors","../mixins";

.footer {
  @include theme-aware('background-color', 'color-buttonColor');
  font-weight: 500;
  width: 100%;
  padding-left: 20px;
  color: white;
 display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #2189fd;
  }

  .themeButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: 500;
    font-size: 1em;
    outline: none;
    padding-right: 20px;

    &:hover {
      color: #2189fd;
    }
  }
}